<div id="page">
	<div id="map_dialog"></div>
	<div id='map_area'>
		<div id="map_canvas"></div>
	</div>
	<div id='content'>
		<table id='historic_places'>
		  <tbody></tbody>
		</table>
		<br/>
	</div>
</div>