development:
  adapter: mysql
  encoding: utf8
  database: 
  username: 
  password: 
  host: mysql-user

test:
  adapter: mysql
  encoding: utf8
  database: 
  username: 
  password: 
  host: mysql-user

production:
  adapter: mysql
  encoding: utf8
  database: 
  username: 
  password: 
  host: mysql-user
